{% extends 'base.html' %}

{% block content %}
    <div id="set_trucks" class="container">
        <h4>配送网络配置</h4>
        <div id="echart" style="width: 600px; height: 400px; margin: auto;"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename = 'js/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/dataTool.min.js') }}"></script>
    <script>
        var dom = document.getElementById("echart");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        myChart.showLoading();
        $.get("{{ url_for('static', filename='gexf/test.gexf') }}", function (xml) {
            myChart.hideLoading();

            var graph = echarts.dataTool.gexf.parse(xml);
            var categories = [];
            for (var i = 0; i < 9; i++) {
                categories[i] = {
                    name: '类目' + i
                };
            }
            graph.nodes.forEach(function (node) {
                node.itemStyle = null;
                node.symbolSize = 10;
                node.value = node.symbolSize;
                node.category = node.attributes.modularity_class;
                // Use random x, y
                node.x = node.y = null;
                node.draggable = true;
            });
            option = {
                title: {
                    text: 'Les Miserables',
                    subtext: 'Default layout',
                    top: 'bottom',
                    left: 'right'
                },
                tooltip: {},
                legend: [{
                    // selectedMode: 'single',
                    data: categories.map(function (a) {
                        return a.name;
                    })
                }],
                animation: false,
                series: [
                    {
                        name: 'Les Miserables',
                        type: 'graph',
                        layout: 'force',
                        data: graph.nodes,
                        links: graph.links,
                        categories: categories,
                        roam: true,
                        label: {
                            position: 'right'
                        },
                        force: {
                            repulsion: 100
                        }
                    }
                ]
            };

            myChart.setOption(option);
        }, 'xml');
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
{% endblock %}
