{% extends 'base.html' %}

{% block content %}
    <div id="set_trucks" class="container">
        <h4>车辆配置</h4>
        <form id="trucks_form" class="was-validated">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">名称</th>
                    <th scope="col">数量</th>
                    <th scope="col">距离上限</th>
                    <th scope="col">载重上限</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for truck in trucks_data %}
                    <tr>
                        <th scope="row"><input name="name[]" value="{{ truck[0] }}" type="text"
                                               class="form-control form-control-sm" readonly required></th>
                        <td><input name="nums[]" value="{{ truck[1] }}" type="number"
                                   class="form-control form-control-sm" readonly required min="1"></td>
                        <td><input name="d_max[]" value="{{ truck[2] }}" type="number"
                                   class="form-control form-control-sm" readonly required min="1"></td>
                        <td><input name="w_max[]" value="{{ truck[3] }}" type="number"
                                   class="form-control form-control-sm" readonly required min="1"></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-primary modify">修改
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-success confirm" hidden>确定
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger del">删除
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="add" type="button" class="btn btn-primary">添加车辆</button>
            <button id="save" type="button" class="btn btn-success">保存</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('.modify').click(function () {
            let parent = $(this).parent();
            $(".modify", parent).attr("hidden", true);
            $(".confirm", parent).attr("hidden", false);
            $("input", parent.parent()).attr("readonly", false);
        });

        $('.confirm').click(function () {
            let parent = $(this).parent();
            let input = $("input", parent.parent());
            for (let i = 1; i < input.length; i++) {
                if (input.get(i).validity.valid === false) {
                    return;
                }
            }
            $(".confirm", parent).attr("hidden", true);
            $(".modify", parent).attr("hidden", false);
            input.attr("readonly", true);
        });

        $(".del").click(function () {
            $(this).parent().parent().remove();
        });

        $("#add").click(function () {
            let table = $("tbody");
            table.children(":first").clone(true).appendTo(table);
            let self = table.children(":last");
            $(".modify", self).attr("hidden", true);
            $(".confirm", self).attr("hidden", false);
            $("input", self).attr({"value": "", "readonly": false});
        })

        $("#save").click(function () {
            let form = $("#trucks_form");
            if (form.get(0).checkValidity() === true) {
                $.ajax("{{ url_for('set_trucks') }}", {
                    method: "POST",
                    data: form.serialize(),
                    success: function (data) {
                        console.log(data);
                    }
                })
                $("input", "tbody").attr("readonly", true);
                $(".confirm", "tbody").attr("hidden", true);
                $(".modify", "tbody").attr("hidden", false);
            }
        })
    </script>
{% endblock %}
